<div class="p-5 w-56 bg-gray-200 rounded-lg my-10 pb-8 mr-8 flex-shrink-0">
    <div class="py-5 border-gray-700 border-b capitalize text-center">
        <p class="text-lg font-bold text-gray-700">aloo prantha</p>
    </div>
    <div class="flex flex-col pt-5">
        <div class="flex-1 flex items-center">
            <div class="flex-1">
                <p class="text-sm capitalize text-gray-500">price</p>
                <p class="text-lg capitalize font-bold text-gray-700">rs 30</p>
            </div>
            <div class="flex-1">
                <p class="text-sm capitalize text-gray-500">portion</p>
                <p class="text-lg capitalize font-bold text-gray-700">1 person</p>
            </div>
        </div>
        <div class="flex-1 flex items-center py-4">
            <div class="flex-1">
                <p class="text-sm capitalize text-gray-500">food type</p>
                <p class="text-lg capitalize text-green-600 font-bold text-gray-700">veg</p>
            </div>
            <div class="flex-1">
                <p class="text-sm capitalize text-gray-500">food style</p>
                <p class="text-lg capitalize font-bold text-gray-700">indian</p>
            </div>
        </div>
        <div class="flex-1 flex items-center justify-stretch">
            <a href="#"
               class="capitalize font-bold py-3 px-8 rounded-full bg-red-600 text-white transition hover:bg-red-700">add
                to cart</a>
        </div>
    </div>
</div>