<header class="h-14 flex items-center px-5">
    <span class="text-2xl">
        <a class="decoration-0 font-bold" href="/">
            <span class="text-gray-600">Square</span> <span class="text-red-600">One</span>
        </a>
    </span>
</header>