<nav class="h-16 flex items-center px-5">
    <div class="w-1/6">
        <span class="text-3xl">
        <a class="decoration-0 font-bold" href="/">
            <span class="text-gray-600">Square</span> <span class="text-red-600">One</span>
        </a>
    </span>
    </div>
    <div class="w-5/6 flex items-center justify-end z-10">
        <%if(locals.user) {%>
        <ul class="flex items-center">
            <li class="text-white capitalize mr-6">
                <a href="/cart" class="hover:underline">cart</a>
            </li>
            <li class="text-white capitalize mr-6">
                <a href="/user/prfile" class="hover:underline">user</a>
            </li>
            <li>
                <a href="#" class="text-white px-8 py-3 bg-red-600 capitalize font-bold rounded-full hover:bg-red-700">sign out</a>
            </li>
        </ul>
        <%}%>
    </div>
</nav>