<section class="p-5">
    <section class="py-14 mb-10">
        <p class="text-8xl font-black capitalize text-center text-gray-800 mb-3">food menu</p>
        <p class="font-normal capitalize text-center text-gray-400">freshly made food from our kitchens with wide
            variety of food items</p>
    </section>
    <section>
        <p class="capitalize text-6xl font-black text-gray-800"><span class="text-red-600 px-5">indian</span> food</p>
    </section>
    <section>
        <p class="capitalize text-6xl font-black text-gray-800"><span class="text-red-600 px-5">soothing</span> beverages</p>
    </section>
</section>