<section class="flex">
    <section class="h-screen py-5 px-10 flex-1 flex flex-col items-stretch justify-center">

        <div class="my-5 shrink-0">
            <p class="text-gray-700 font-black capitalize"><span class="text-red-600 text-8xl">recharge</span><br><span
                        class="text-8xl">here</span></p>
        </div>

        <div class="flex shrink-0">
            <form action="/users/recharge" class="flex-1 flex flex-col shrink-0">
                <input type="number" name="amount" placeholder="Enter Amount"
                       class="border-b-4 my-8 text-3xl outline-none px-3 py-5 shrink-0 focus:border-red-600">
                <input type="submit" value="Proceed"
                       class="capitalize font-bold py-5 px-8 rounded-full bg-red-600 text-white shrink-0 transition hover:bg-red-700">
            </form>
        </div>
    </section>

    <section class="flex-1 bg-red-700"
             style="background: url('/images/payment.jpg') no-repeat; background-size: cover;">

    </section>
</section>