<section class="h-screen flex dark:bg-gray-900">
    <div class="flex-1 flex items-center justify-center flex-col">
        <p class="text-5xl font-black text-gray-700 text-center capitalize py-5 dark:text-gray-400">let's make your</p>
        <p class="text-5xl font-black text-gray-700 text-center capitalize mb-16 dark:text-gray-400">order</p>
        <form action="/users/create-user" method="post" class="flex flex-col w-1/2">
            <input type="text" name="name"
                   class="mb-6 px-3 py-5 border-b text-2xl outline-0 focus:border-red-600 focus:border-b-2 bg-transparent dark:text-white"
                   placeholder="Enter Your Name" required>
            <input type="email" name="email"
                   class="mb-6 px-3 py-5 border-b text-2xl outline-0 focus:border-red-600 focus:border-b-2 bg-transparent dark:text-white"
                   placeholder="Enter Your Email" required>
            <input type="password" name="password"
                   class="mb-8 px-3 py-5 border-b text-2xl outline-0 focus:border-red-600 focus:border-b-2 bg-transparent dark:text-white"
                   placeholder="Enter Your Password" required>
            <input type="password" name="confirmPassword"
                   class="mb-8 px-3 py-5 border-b text-2xl outline-0 focus:border-red-600 focus:border-b-2 bg-transparent dark:text-white"
                   placeholder="Confirm Your Password" required>
            <input type="submit" value="Register"
                   class="py-3 font-bold px-8 rounded-full bg-red-600 text-white capitalize transition hover:bg-red-700 mb-5">
            <span class="capitalize text-gray-500 text-center">already had an account? <a href="/login"
                                                                                          class="font-bold text-red-600 hover:underline">login here</a></span>
        </form>
    </div>
    <div class="flex-1 bg-gray-700"
         style="background:url('/images/register.jpg') no-repeat; background-size: cover;">
    </div>
</section>